backoff==1.11.1
certifi==2022.9.24
charset-normalizer==2.0.12
greenlet==2.0.1
idna==3.4
numpy==1.19.5
pandas==0.25.3
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2022.4
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.44
tenacity==8.1.0
urllib3==1.26.12
